<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/globomantics.css">
<title>Taco Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />

</head>

<body>
	<header th:replace="header :: site-header" />
	<div class="container">
		<h1>Design your taco!</h1>
		<img th:src="@{/images/TacoCloud.png}" />
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">

				<form method="POST" th:object="${taco}">
					<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> -->

					<span class="validationError"
						th:if="${#fields.hasErrors('ingredients')}"
						th:errors="*{ingredients}">Ingredient Error</span>

					<div class="grid">
						<div class="ingredient-group form-group" id="wraps">
							<h3>Designate your wrap:</h3>
							<div th:each="ingredient : ${wrap}">
								<input name="ingredients" type="checkbox"
									th:value="${ingredient.id}" class="form-control" /> <span
									th:text="${ingredient.name}">INGREDIENT</span>
							</div>
						</div>

						<div class="ingredient-group form-group" id="proteins">
							<h3>Pick your protein:</h3>
							<div th:each="ingredient : ${protein}">
								<input name="ingredients" type="checkbox"
									th:value="${ingredient.id}" class="form-control" /> <span
									th:text="${ingredient.name}">INGREDIENT</span>
							</div>
						</div>

						<div class="ingredient-group form-group" id="cheeses">
							<h3>Choose your cheese:</h3>
							<div th:each="ingredient : ${cheese}">
								<input name="ingredients" type="checkbox"
									th:value="${ingredient.id}" class="form-control" /> <span
									th:text="${ingredient.name}">INGREDIENT</span>
							</div>
						</div>

						<div class="ingredient-group form-group" id="veggies">
							<h3>Determine your veggies:</h3>
							<div th:each="ingredient : ${veggies}">
								<input name="ingredients" type="checkbox"
									th:value="${ingredient.id}" class="form-control" /> <span
									th:text="${ingredient.name}">INGREDIENT</span>
							</div>
						</div>

						<div class="ingredient-group form-group" id="sauces">
							<h3>Select your sauce:</h3>
							<div th:each="ingredient : ${sauce}">
								<input name="ingredients" type="checkbox"
									th:value="${ingredient.id}" class="form-control" /> <span
									th:text="${ingredient.name}">INGREDIENT</span>
							</div>
						</div>
					</div>

					<div>


						<h3>Name your taco creation:</h3>
						<input type="text" th:field="*{name}" class="form-control" /> <span
							class="validationError" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}">Name Error</span> <br />

						<button class="btn btn-primary">Submit your taco</button>
					</div>
				</form>
			</div>
		</div>

		<br /> <a th:href="@{/}">Home</a> <br /> <br /> <br />

		<form method="POST" th:action="@{/logout}">
			<input type="submit" value="Logout" class="btn btn-danger" />
		</form>
	</div>
</body>
</html>