<nav th:fragment = "site-header" class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a th:href="@{/design}">Design Your Taco</a>
		</div>
		<div class="navbar-default">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/}">Home</a>
				<li><a th:href="@{/design/list}">Recent Designs</a></li>
				<li><a th:href="@{/design}">Design</a></li>
				<li><form method="POST" th:action="@{/logout}">
<input type="submit" value="Logout" class="btn btn-danger">
</form></li>
			</ul>
		</div>
	</div>
</nav>