<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/globomantics.css">
<title>Taco Cloud</title>
</head>
<body>
	<header th:replace="header :: site-header" />
	<div class="container">
		<h1>Welcome to...</h1>
		<img th:src="@{/images/TacoCloud.png}" /> <br /> <br /> <br /> <br />
		<a th:href="@{/design/list}">View Recently Created Tacos</a><br /> <a
			th:href="@{/design}">Design Your New Taco</a> <br /> <br /> <br />
		<br />
		<form method="POST" th:action="@{/logout}">
			<input type="submit" value="Logout" class="btn btn-danger" />
		</form>
	</div>
</body>
</html>