<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/globomantics.css">
<title>Taco Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="container">
<header th:replace="header :: site-header" />
	<h1>Recently Created Tacos</h1>
	<img th:src="@{/images/TacoCloud.png}" />

	<table>
		<thead class="list-group-item-header">
			<tr>
				<th>Name</th>
				<th>Created At</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="taco : ${tacos}" class="list-group-item-text">
				<td th:text="${taco.name}" >name</td>
				<td th:text="${#dates.format(taco.createdAt, 'dd-MMM-yy')}" class="list-group-item-text">created</td>
			</tr>
		</tbody>

	</table>
	
	<a th:href="@{/}">Home</a>
	<form method="POST" th:action="@{/logout}">
		<input type="submit" value="Logout" class="btn btn-danger"/>
	</form>
</div>
</body>