<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/globomantics.css">
<title>Taco Cloud</title>
</head>
<body>
<div class="container">
	<h1>Login</h1>
	<img th:src="@{/images/TacoCloud.png}" />
	<div th:if="${error}">Unable To Log In. Please check your
		username and Password</div>
		
		<p>New here? CLick <a th:href="@{/register}">here</a> To register.</p>
		<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
		<form method="post" th:action="@{/login}" id="loginForm">
		<div class="form-group">
		<label for="username">Username</label>
		<input type="text" name="username" id="username" class="form-control" required><br/>
		</div>
		<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" class="form-control" required><br/>
		</div>
		
		
		
		<input type="submit" value="login" class="btn btn-primary">
		
		</form>
		
		
		</div>
		
		
		</div>
		
</div>
</body>
</html>