<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/globomantics.css">
<title>Taco Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<header th:replace="header :: site-header" />
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3">
	<form method="POST" th:action="@{/orders}" th:object="${order}">
		<h1>Order your taco creations!</h1>

		<img th:src="@{/images/TacoCloud.png}" /> <a th:href="@{/design}"
			id="another">Design another taco</a><br />

		<div th:if="${#fields.hasErrors()}">
			<span class="validationError"> Please correct the problems
				below and resubmit. </span>
		</div>

		<h3>Deliver my taco masterpieces to...</h3>
		<div class="form-group">
		<label for="name">Name: </label> 
		<input type="text" th:field="*{name}"  class="form-control"/>
		<!-- end::allButValidation[] -->
		<span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span><br /> 
		<!-- tag::allButValidation[] -->
		</div>
		<div class="form-group">
		<label for="street">Street address: </label> 
		<input type="text" th:field="*{street}"  class="form-control" />
		<!-- end::allButValidation[] -->
		<span class="validationError" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Street Error</span><br />
		<!-- tag::allButValidation[] --></div>
		<div class="form-group">
		<label for="city">City: </label> 
		<input type="text"th:field="*{city}"  class="form-control" />
		<!-- end::allButValidation[] -->
		<span class="validationError" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</span><br />
		<!-- tag::allButValidation[] -->
		</div>
		<div class="form-group">
		<label for="state">State: </label> 
		<input type="text" th:field="*{state}"  class="form-control" />
		<!-- end::allButValidation[] -->
		<span class="validationError" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">State Error</span><br />
		<!-- tag::allButValidation[] -->
		</div>
		<div class="form-group">
		<label for="zip">Zip code: </label> 
		<input type="text" th:field="*{zip}"  class="form-control" />
		<!-- end::allButValidation[] -->
		<span class="validationError" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}">Zip Error</span><br />
		<!-- tag::allButValidation[] -->
		</div>

		<h3>Here's how I'll pay...</h3>
		<div class="form-group">
		<!-- tag::validatedField[] -->
		<label for="ccNumber">Credit Card #: </label> 
		<input type="text" th:field="*{ccNumber}"  class="form-control" />
		<!-- end::allButValidation[] -->
		<span class="validationError" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}">CC Num Error</span><br />
		<!-- tag::allButValidation[] -->
		</div>
		<div class="form-group">
		<!-- end::validatedField[] -->
		<label for="ccExpiration">Expiration: </label> 
		<input type="text" th:field="*{ccExpiration}"  class="form-control" />
		<!-- end::allButValidation[] -->
		<span class="validationError" th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}">CC Num Error</span><br />
		<!-- tag::allButValidation[] -->
		</div>
		<div class="form-group">
		<label for="ccCVV">CVV: </label> <input type="text" th:field="*{ccCVV}"  class="form-control"/>
		<!-- end::allButValidation[] -->
		<span class="validationError" th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}">CC Num Error</span><br />
		<!-- tag::allButValidation[] -->
		</div>
		
		
		<input type="submit" value="Submit order" class="btn btn-primary" />
	</form>
	
	</div>
	</div>
<hr>

	<form method="POST" th:action="@{/logout}">
		<input type="submit" value="Logout" class="btn btn-danger" />
	</form>
</div>
</body>
</html>
<!-- end::allButValidation[] -->