<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/globomantics.css">
<meta charset="ISO-8859-1">
<title>Taco Cloud</title>
</head>
<body>
	<div class="container">
		<h1>Register</h1>
		<img th:src="@{images/TacoCloud.png}">
		<p>
			Click <a th:href="@{/login}">Here</a> To Log in if you already have
			an account
		</p>
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<form method="post" th:object="${user}">
					<div class="form-group">
						<label for="username">Username: </label> <input type="text"
							name="username" class="form-control" th:field="*{username}" /><br />
						<!-- end::allButValidation[] -->
						<span class="validationError"
							th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</span><br />
						<!-- tag::allButValidation[] -->
					</div>

					<div class="form-group">
						<label for="password">Password: </label> <input type="password"
							name="password" class="form-control" th:field="*{password}" />
						<!-- end::allButValidation[] -->
						<span class="validationError"
							th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span><br />
						<!-- tag::allButValidation[] -->
					</div>
					<br />

					<div class="form-group">
						<label for="confirm">Confirm password: </label> <input
							type="password" name="confirm" class="form-control" />
					</div>
					<br />

					<div class="form-group">
						<label for="fullname">Full name: </label> <input type="text"
							name="fullname" class="form-control" th:field="*{fullname}" />
						<!-- end::allButValidation[] -->
						<span class="validationError"
							th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Error</span><br />
						<!-- tag::allButValidation[] -->
					</div>
					<br />

					<div class="form-group">
						<label for="street">Street: </label> <input type="text"
							name="street" class="form-control" th:field="*{street}" />
						<!-- end::allButValidation[] -->
						<span class="validationError"
							th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Error</span><br />
						<!-- tag::allButValidation[] -->
					</div>
					<br />

					<div class="form-group">
						<label for="city">City: </label> <input type="text" name="city"
							class="form-control" th:field="*{city}" /> <span
							class="validationError" th:if="${#fields.hasErrors('city')}"
							th:errors="*{city}">Error</span>
					</div>
					<br />

					<div class="form-group">
						<label for="state">State: </label> <input type="text" name="state"
							class="form-control" th:field="*{state}" /> <span
							class="validationError" th:if="${#fields.hasErrors('state')}"
							th:errors="*{state}">Error</span>
					</div>
					<br />

					<div class="form-group">
						<label for="zip">Zip: </label> <input type="number" name="zip"
							class="form-control" />
					</div>
					<br />
					<div class="form-group">
						<label for="phoneNumber">Phone: </label> <input type="number"
							name="phoneNumber" class="form-control" th:field="*{phoneNumber}" />
						<span class="validationError"
							th:if="${#fields.hasErrors('phoneNumber')}"
							th:errors="*{phoneNumber}">Error</span>
					</div>
					<br /> <input type="submit" value="Register"
						class="btn btn-primary" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>